<!DOCTYPE handlebars>
<handlebars lang="en">
<head class="NavGrid">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <title>Home</title>
</head>
<body class="home">
    <header class="transparent">
        <h1>Portfolio</h1>
        <h2>Kimberly Eder</h2>
        <div class="container">
            <div class="burger-menu" id="burger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav class="right-menu" id="right-menu">
                <ul>
                    <li><a href="home.handlebars">Home</a></li>
                    <li><a href="about.handlebars">About</a></li>
                    <li><a href="projects.handlebars">Projects</a></li>
                    <li><a href="contact.handlebars">Contact</a></li>
                    <li><a href="login.handlebars">Log In</a></li>
                </ul>
            </nav>
        </div>
        <script src="script.js"></script>
    </header>
    {{#if isLoggedIn}}
        <div class="to-the-right">
            Hi, {{name}}! &nbsp; &nbsp;
            <a href="/logout" class="btn btn-link">Logout</a>
        </div>
    {{else}}
        <a href="/login" class="btn btn-link to-the-right">Log In</a>
    {{/if}}
    <p class="titles">Filmmaker<br />Editor<br />Artist</p>  
</body>