<!DOCTYPE handlebars>
<handlebars lang="en">
<head class="NavGrid">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <title>Education</title>
</head>
<body>
    <header>
        <h1>Curriculum Vitae</h1>
        <h2>Kimberly Eder</h2>
        <div class="container">
            <div class="burger-menu" id="burger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav class="right-menu" id="right-menu">
                <ul>
                    <li><a href="home.handlebars">Home</a></li>
                    <li><a href="about.handlebars">About</a></li>
                    <li><a href="projects.handlebars">Projects</a></li>
                    <li><a href="contact.handlebars">Contact</a></li>
                </ul>
            </nav>
        </div>
        <script src="script.js"></script>
    </header>
    <nav>
        <ul class="menu">
            <li><a href="mycv-edu.handlebars">Education</a></li>
            <li><a href="mycv-work.handlebars">Professional Experience</a></li>
            <li><a href="mycv-skills.handlebars">Computer Skills</a></li>
            <li><a href="mycv-lang.handlebars">Languages</a></li>
            <li><a href="mycv-others.handlebars">Hobbies</a></li>
        </ul>
    </nav>
    <h2>Education</h2>
    <ul>
        <li>08 - 12/2023: Semester abroad at JU in Sweden</li>
        <li>2021 - 2024: Bachelor of Media Informatics
            focus on film at University of Applied Sciences Flensburg</li>
        <li>2020 - 2021: Bachelor two semester Sociology at University Leipzig</li>
        <li>2020: General university entrance qualifications in Apolda, average grade: 1,9 </li>
    </ul>
</body>