<!DOCTYPE handlebars>
<handlebars lang="en">
<head class="NavGrid">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <title>Projects</title>
</head>
<body>
    <header>
        <h1>Portfolio</h1>
        <h2>Kimberly Eder</h2>
        <div class="container">
            <div class="burger-menu" id="burger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav class="right-menu" id="right-menu">
                <ul>
                    <li><a href="home.handlebars">Home</a></li>
                    <li><a href="about.handlebars">About</a></li>
                    <li><a href="projects.handlebars">Projects</a></li>
                    <li><a href="contact.handlebars">Contact</a></li>
                </ul>
            </nav>
        </div>
        <script src="script.js"></script>
    </header>
    <h1>Projects</h1>
    <div class="Grid">
        <figure class="Project">
            <img src="/public/img/sweden.png" alt="Exchange in Sweden"
            width=100 height=100>
            <figcaption>Exchange in Sweden</figcaption>
        </figure>
        <figure class="Project">
            <img src="/public/img/little one.png" alt="Film Little One"
            width=100 height=100>
            <figcaption>Exchange in Sweden</figcaption>
        </figure>
        <figure class="Project">
            <img src="/public/img/Schlafwandler 2.png" alt="Schlafwandler 2"
            width=100 height=100>
            <figcaption>Schlafwandler</figcaption>
        </figure>
        <figure class="Project">
            <img src="/public/img//Schlafwandler.png" alt="Schlafwandler"
            width=100 height=100>
            <figcaption>Schlafwandler</figcaption>
        </figure>
    </div>
    <p>All videos can be found in the original at vimeo.com</p>
    <p><a class= "pure-button" href="https://vimeo.com/kimberlyeder">Vimeo</a></p>

</body>